
@media (max-width: 767px) {
    .logo {
        width: 95px;
        height: 95px;
    }

    .footer {
        height: 75%;
    }
    
    .mainMargin {
        margin-top: 3rem;
    
    }

    .sliderText .sliderTextDesc {
        font-size: 15px;
    }

    .mainMargin .copy {
        padding-top: 100px;
    }

    .mainMargin .container .itemContact iframe {
        height: 300px;
    }
}

@media (max-width: 575px) {
    
    .textMenu {
        color: black;
    }
   
    .h-100 {
        width: 90%;
        font-size: 10px;
        margin: auto;
    }
    .mainMargin .container .video iframe {
        width: 100%;
        height: 240px;

    }
    .container {
        width: 90%;
    }

    .sliderText {
        top: 42%;
        
    }
    .sliderText .sliderTextTitle {
        font-size: 40px;
    }
    
    .card-text {
        padding: 5px;
    }
    .card {
        width: 100%;
    }
}