/*==== MAP ====*/
$generalStyles: (
    colorWhite: white,
    centeredText: center,
    totalWidth: 100%,
    colorOrange: orange,
);

/*==== FIN MAP ====*/

/*==== MIXIN ====*/
@mixin sizes ($width, $height) {
    width: $width;
    height: $height;
}
/*==== FIN MIXIN ====*/


.sliderText {
	top: 35%;
    transform: translateY(-50%);
    .sliderTextTitle {
        font-size: 60px;
        /*color: #fff;*/
        color: map-get($generalStyles, colorWhite);
        margin-top: 40%;
        text-shadow:
            0 0 5px rgba(0,178,255,1),
            0 0 10px rgba(0,178,255,1),
            0 0 20px rgba(0,178,255,1),
            0 0 40px rgba(38,104,127,1),
            0 0 80px rgba(38,104,127,1),
            0 0 90px rgba(38,104,127,1),
            0 0 100px rgba(38,104,127,1),
            0 0 140px rgba(38,104,127,1),
            0 0 180px rgba(38,104,127,1);
    }
    .sliderTextDesc {
        border-radius: 30px;
        background-color: rgba(0, 179, 255, 0.3);
        text-decoration: none;
        padding: 12px 33px;
        font-weight: bolder;
        /*color: white;*/
        color: map-get($generalStyles, colorWhite);
        font-size: 20px;
    }
}
.borderTop {
	border-top: 2px solid black;
    .textCenter {
        /*text-align: center;*/
        text-align: map-get($generalStyles, centeredText);
        .textPadding {
            padding: 10px;
        }
    }
}

.mainMargin {
	margin-top: 136px;
    .copy {
        /*text-align: center;*/
        text-align: map-get($generalStyles, centeredText);
        padding: 50px;
      }
    .container {
        overflow: hidden;
        padding: 30px 0;
        .slider {
            animation: slidein 30s linear infinite;
            white-space: nowrap;
            padding-top: 30px;
            .logos {
                /*width: 100%;*/
                width: map-get($generalStyles, totalWidth);
                display: inline-block;
                margin: 0px 0;
                .fab {
                    width: calc(100% / 5);
                    animation: fadein 0.5s	cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
                }
            }
        }
        
        .projectImg {
            animation-duration: 10s;
            animation-name: appear;
            animation-iteration-count: 1;
        }
        .itemContact {
            margin: 20px 0;
            iframe {
                /*=== MIXIN ===*/
                @include sizes(100%, 350px)
            }
        }
        .IdCards {
            margin-bottom: 30px;
            .card-text {
                /*==== EXTEND ====*/
                @extend .copy;
                font-size: 1.3rem;
            }
        }
        .video iframe {
            /*width: 100%;*/
            /*width: map-get($generalStyles, totalWidth);*/
            /*height: 300px;*/
            /*=== MIXIN ===*/
            @include sizes(100%, 300px)
            
        }
    }
    
    
    
    
}

nav {
    a {
	transition: all 2s !important;
    &:hover {
        /*color: #EE5525 !important;*/
        color: map-get($generalStyles, colorOrange) !important;
        font-size: 25px;
    }
    }
    .pop {
        width: 50% !important;
    }
}

@keyframes slidein {
	from {
	  transform: translate3d(0, 0, 0);
	}
	to {
	  transform: translate3d(-100%, 0, 0);
	}
}

@keyframes fade-in {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
}
@keyframes appear {
	0% {
		/*opacity: 0;*/
		filter: grayscale(100%);
	}
	100% {
		opacity: 1;
	}
}