.sliderText {
	top: 35%;
    transform: translateY(-50%);
    .sliderTextTitle {
        font-size: 60px;
        color: #fff;
        margin-top: 40%;
        text-shadow:
            0 0 5px rgba(0,178,255,1),
            0 0 10px rgba(0,178,255,1),
            0 0 20px rgba(0,178,255,1),
            0 0 40px rgba(38,104,127,1),
            0 0 80px rgba(38,104,127,1),
            0 0 90px rgba(38,104,127,1),
            0 0 100px rgba(38,104,127,1),
            0 0 140px rgba(38,104,127,1),
            0 0 180px rgba(38,104,127,1);
    }
    .sliderTextDesc {
        border-radius: 30px;
        background-color: rgba(0, 179, 255, 0.3);
        text-decoration: none;
        padding: 12px 33px;
        font-weight: bolder;
        color: white;
        font-size: 20px;
    }
}
.borderTop {
	border-top: 2px solid black;
    .textCenter {
        text-align: center;
        .textPadding {
            padding: 10px;
        }
    }
}

.mainMargin {
	margin-top: 136px;
    .copy {
        text-align: center;
        padding: 50px;
      }
    .container {
        overflow: hidden;
        padding: 30px 0;
        .slider {
            animation: slidein 30s linear infinite;
            white-space: nowrap;
            padding-top: 30px;
            .logos {
                width: 100%;
                display: inline-block;
                margin: 0px 0;
                .fab {
                    width: calc(100% / 5);
                    animation: fadein 0.5s	cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
                }
            }
        }
    }
    .video iframe {
        width: 100%;
        height: 300px;
        
    }
    .projectImg {
        animation-duration: 10s;
        animation-name: appear;
        animation-iteration-count: 1;
    }
    .IdCards {
        margin-bottom: 30px;
    }
    .contact {
        border: solid 1px grey;
        border-radius: 10px;
        margin: 10px;
    }
    .itemContact {
        margin: 20px 0;
    }
    
}

nav {
    a {
	transition: all 2s !important;
    &:hover {
        color: #EE5525 !important;
        font-size: 25px;
    }
    }
    .pop {
        width: 50% !important;
    }
}

@keyframes slidein {
	from {
	  transform: translate3d(0, 0, 0);
	}
	to {
	  transform: translate3d(-100%, 0, 0);
	}
}

@keyframes fade-in {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
}
@keyframes appear {
	0% {
		/*opacity: 0;*/
		filter: grayscale(100%);
	}
	100% {
		opacity: 1;
	}
}